@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DiShop</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wellcome to DiShop</h2>
        <p>
            DiShop is place where you can buy modern military land vehicle.
        </p>
    </div>
    <div class="col-md-4">
        <h2>List of currently active United States military land vehicles</h2>
        <p>The following is a list of currently active United States military land vehicles grouped by type of land vehicle.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_currently_active_United_States_military_land_vehicles">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need more?</h2>
        <p>You can easily find a lots of military vehicle here.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_military_vehicles">Learn more &raquo;</a></p>
    </div>
</div>